.button {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  border-radius: 4.375rem;
  background: var(--white);
  border: none;
  cursor: pointer;
  color: var(--gray30);
  font: var(--button);
}

.button.is-primary {
  background: var(--primary);
  color: var(--white);
}