@import './playlist-list.css';
@import './search.css';
@import './navigation.css';
@import './header.css';
@import './sticky.css';

.page {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-end: 2em;
}

.page-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page .header {
  margin-block-end: 1rem;
  margin-inline-start: -2rem;
  margin-inline-end: -2rem;
}